.dataTables_length,
.dataTables_wrapper {
    font-size: 1.6rem;
}
.dataTables_length select,
.dataTables_length input,
.dataTables_wrapper select,
.dataTables_wrapper input {
    background-color: #f9f9f9;
    border: 1px solid #999;
    border-radius: 4px;
    height: 3rem;
    line-height: 2;
    font-size: 1.8rem;
    color: #333;
}
.dataTables_length .dataTables_length,
.dataTables_length .dataTables_filter,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-flex;
}

.paginate_button {
    min-width: 4rem;
    display: inline-block;
    text-align: center;
    padding: 1rem 1.6rem;
    margin-top: -1rem;
    border: 2px solid lightblue;
}
.paginate_button:not(.previous) {
    border-left: none;
}
.paginate_button.previous {
    border-radius: 8px 0 0 8px;
    min-width: 7rem;
}
.paginate_button.next {
    border-radius: 0 8px 8px 0;
    min-width: 7rem;
}
.paginate_button:hover {
    cursor: pointer;
    background-color: #eee;
    text-decoration: none;
}

.thumb {
    width:50px;
}

#table_container {
    /*padding-top: 200px;*/
    margin-top: 70px;
}

/*.panel-heading {*/
/*    color: #333;*/
/*    background-color: #f5f5f5;*/
/*    border-color: #ddd;*/
/*    padding: 10px 15px;*/
/*    border-bottom: 1px solid transparent;*/
/*    border-top-left-radius: 3px;*/
/*    border-top-right-radius: 3px;*/
/*}*/

h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 0px;
}

.panel-default {
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-family: fantasy;
    font-size: x-large;
    font-weight: bold;
}

#table_content {
    margin: 10px;
}

.item_label {
    /*font-family: Garamond, serif;*/
    font-family: fantasy;
    font-size: large;
}

#example_filter > label {
    font-family: fantasy;
    font-size: medium;
}